"*.parquet" 
"*.csv" 
"__pycache__/" 
".ipynb_checkpoints/" 
".DS_Store" 
"*.parquet" 
"*.csv" 
"__pycache__/" 
".ipynb_checkpoints/" 
".DS_Store" 
*.parquet 
*.csv 
HFT_project.ipynb
HFT_project-V2.ipynb